<!-- views/random-beer.hbs -->
<h1>Random Beer</h1>
<img src="{{beer.image_url}}" alt="{{beer.name}}" />
<h3>{{beer.name}}</h3>
<p>{{beer.tagline}}</p>
<p>{{beer.description}}</p>
<p><strong>Food Pairing:</strong> {{beer.food_pairing}}</p>
<p><strong>Brewer Tips:</strong> {{beer.brewers_tips}}</p>
